Repository hubofwyn/wyn-der-schrank: changes, and which lefthook commands are due for each by the changed paths.
All: biome_fix, md_fix

lefthook.yml:

# lefthook.yml â€” Git hook orchestration
# Mirrors CI gates locally. See .github/workflows/ci.yml for the canonical gate list.

pre-commit:
  parallel: true
  commands:
    biome_fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: >-
        bunx @biomejs/biome check --write
        --no-errors-on-unmatched
        --files-ignore-unknown=true
        --colors=off
        {staged_files}
      stage_fixed: true

    md_fix:
      glob: "**/*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc --fix {staged_files}
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    banner:
      run: bash scripts/pre-push-banner.sh
    typecheck:
      run: bun run typecheck
    lint_zones:
      run: bun run lint:zones
    deps_check:
      run: bun run deps:check
    tests:
      run: bun run test:run
    format_check:
      run: bun run format:check
    md_lint:
      run: bun run lint:md

docs: add publishing workflow and mark G6 complete
  AGENTS.md
  docs/FOUNDATION.md
  docs/plans/active-plan.md
Due: md_fix

docs: update studio-asset-interface to reflect G6 completion
  docs/plans/studio-asset-interface.md
Due: md_fix

docs: update G6 status and add G7+G8 goals to roadmap
  docs/plans/active-plan.md
  docs/plans/studio-asset-interface.md
Due: md_fix

feat(shared): add server diagnostic channels
  docs/plans/active-plan.md
  packages/shared/src/schema/diagnostics.ts
Due: biome_fix, md_fix

feat(server): add config validation with Zod
  apps/server/package.json
  apps/server/src/__tests__/config.test.ts
  apps/server/src/config.ts
  bun.lock
Due: biome_fix

feat(server): add ServerDiagnostics service
  apps/server/src/services/__tests__/server-diagnostics.test.ts
  apps/server/src/services/server-diagnostics.ts
Due: biome_fix

feat(server): add health endpoint and startup logging
  apps/server/src/__tests__/health.test.ts
  apps/server/src/index.ts
  apps/server/src/routes/health.ts
Due: biome_fix

feat(server): add diagnostics HTTP API
  apps/server/src/__tests__/diagnostics-api.test.ts
  apps/server/src/index.ts
  apps/server/src/routes/diagnostics.ts
Due: biome_fix

chore: unified dev command starts both client and server
  package.json
Due: biome_fix

docs: update documentation for G7
  AGENTS.md
  docs/plans/active-plan.md
  docs/plans/diagnostics.md
Due: md_fix

feat(shared): add shake-rush minigame schemas
  packages/shared/src/schema/diagnostics.ts
  packages/shared/src/schema/minigame.ts
Due: biome_fix

feat(client): add IMinigameLogic interface and MinigameRegistry
  apps/client/src/modules/minigame/__tests__/minigame-registry.test.ts
  apps/client/src/modules/minigame/minigame-hud-state.ts
  apps/client/src/modules/minigame/minigame-logic.ts
  apps/client/src/modules/minigame/minigame-registry.ts
Due: biome_fix

feat(client): add MinigameManager lifecycle module
  apps/client/src/modules/minigame/__tests__/minigame-manager.test.ts
  apps/client/src/modules/minigame/minigame-manager.ts
Due: biome_fix

feat(client): expand MinigameScope and wire container
  apps/client/src/core/container.ts
  apps/client/src/main.ts
Due: biome_fix

feat(client): add Shake Rush config and types
  apps/client/src/modules/minigame/games/shake-rush/shake-rush-config.ts
Due: biome_fix

feat(client): add lane system and scoring modules
  apps/client/src/modules/minigame/games/shake-rush/__tests__/lane-system.test.ts
  apps/client/src/modules/minigame/games/shake-rush/__tests__/scoring.test.ts
  apps/client/src/modules/minigame/games/shake-rush/lane-system.ts
  apps/client/src/modules/minigame/games/shake-rush/scoring.ts
Due: biome_fix

feat(client): implement ShakeRushLogic game module
  apps/client/src/modules/minigame/games/shake-rush/__tests__/shake-rush-logic.test.ts
  apps/client/src/modules/minigame/games/shake-rush/shake-rush-logic.ts
Due: biome_fix

feat(client): register ShakeRushLogic in container factory
  apps/client/src/main.ts
Due: biome_fix

feat(client): add MinigameScene and MinigameHudScene
  apps/client/src/main.ts
  apps/client/src/scenes/minigame-hud-scene.ts
  apps/client/src/scenes/minigame-scene.ts
  docs/PHASER_EVIDENCE.md
Due: biome_fix, md_fix

feat(client): add minigame portal trigger in PlatformerScene
  apps/client/src/modules/level/__tests__/tilemap-objects.test.ts
  apps/client/src/modules/level/tilemap-objects.ts
  apps/client/src/scenes/platformer-scene.ts
Due: biome_fix

docs: update documentation for G8 completion
  AGENTS.md
  docs/plans/active-plan.md
Due: md_fix

docs: sync diagnostics and blueprint with G7/G8 implementation
  docs/plans/diagnostics.md
  docs/plans/game-blueprint.md
Due: md_fix

feat(shared): add diagnostic source, ingest payload schemas
  packages/shared/src/index.ts
  packages/shared/src/schema/diagnostics.ts
  packages/shared/src/types/index.ts
Due: biome_fix

feat(client): add Vite API proxy for diagnostic forwarding
  apps/client/vite.config.ts
Due: biome_fix

feat(server): unified diagnostic aggregation with agent-optimized endpoints
  apps/server/src/routes/diagnostics.ts
  apps/server/src/services/server-diagnostics.ts
Due: biome_fix

feat(client): add ReportingDiagnostics adapter for server forwarding
  apps/client/src/core/adapters/reporting-diagnostics.ts
  apps/client/src/main.ts
Due: biome_fix

test: add comprehensive tests for agentic observability pipeline
  apps/client/src/core/adapters/__tests__/reporting-diagnostics.test.ts
  apps/server/src/__tests__/diagnostics-api-extended.test.ts
  apps/server/src/services/__tests__/server-diagnostics-unified.test.ts
Due: biome_fix

docs: update documentation for agentic observability pipeline
  AGENTS.md
  docs/FOUNDATION.md
  docs/plans/diagnostics.md
Due: md_fix

chore(agents): add path-scoped rules for zones, scenes, schemas, phaser
  .claude/rules/modules-zone.md
  .claude/rules/phaser-evidence.md
  .claude/rules/scenes-thin.md
  .claude/rules/shared-schemas.md
  CLAUDE.md
Due: md_fix

chore(agents): update block-phaser3-urls to JSON blocking protocol
  .claude/hooks/block-phaser3-urls.sh
Due: none

chore(agents): add branch protection, notification, pre-compact hooks
  .claude/hooks/notify-attention.sh
  .claude/hooks/pre-compact-backup.sh
  .claude/hooks/protect-main-branch.sh
  .claude/settings.json
  .gitignore
Due: biome_fix

chore(agents): async telemetry, downgrade read-only agent models to sonnet
  .claude/agents/architect.md
  .claude/agents/security-reviewer.md
  .claude/settings.json
Due: biome_fix, md_fix

docs(agents): update AGENTS.md hooks table and repository map
  AGENTS.md
Due: none

feat(client): wire level:completed event emission through network port
  apps/client/src/modules/game-state/__tests__/game-events.test.ts
  apps/client/src/modules/game-state/game-events.ts
  apps/client/src/scenes/level-complete-scene.ts
  packages/shared/src/index.ts
  packages/shared/src/types/index.ts
Due: biome_fix

feat(client): add SessionSave service with schema-validated persistence
  apps/client/src/core/container.ts
  apps/client/src/main.ts
  apps/client/src/modules/progression/__tests__/session-save.test.ts
  apps/client/src/modules/progression/session-save.ts
  packages/shared/src/schema/session-save.ts
Due: biome_fix

feat(client): close persistence loop with load-on-boot and title indicator
  apps/client/src/modules/progression/__tests__/progress-summary.test.ts
  apps/client/src/modules/progression/progress-summary.ts
  apps/client/src/scenes/preload-scene.ts
  apps/client/src/scenes/title-scene.ts
Due: biome_fix

fix(client): resolve Phaser global by aliasing to browser build
  apps/client/src/main.ts
  apps/client/vite.config.ts
Due: biome_fix

docs(agents): update AGENTS.md and active-plan for G9 completion
  AGENTS.md
  docs/plans/active-plan.md
Due: md_fix

feat(assets): add 26 audio files and manifest entries for G10
  apps/client/public/assets/audio/music/minigame-theme.mp3
  apps/client/public/assets/audio/music/platformer-theme.mp3
  apps/client/public/assets/audio/music/title-theme.mp3
  apps/client/public/assets/audio/sfx/coin-1.mp3
  apps/client/public/assets/audio/sfx/coin-2.mp3
  apps/client/public/assets/audio/sfx/coin-3.mp3
  apps/client/public/assets/audio/sfx/coin-4.mp3
  apps/client/public/assets/audio/sfx/enemy-defeat-1.mp3
  apps/client/public/assets/audio/sfx/enemy-defeat-2.mp3
  apps/client/public/assets/audio/sfx/game-over.mp3
  apps/client/public/assets/audio/sfx/hurt-1.mp3
  apps/client/public/assets/audio/sfx/hurt-2.mp3
  apps/client/public/assets/audio/sfx/jump-1.mp3
  apps/client/public/assets/audio/sfx/jump-2.mp3
  apps/client/public/assets/audio/sfx/jump-3.mp3
  apps/client/public/assets/audio/sfx/jump-4.mp3
  apps/client/public/assets/audio/sfx/land-1.mp3
  apps/client/public/assets/audio/sfx/land-2.mp3
  apps/client/public/assets/audio/sfx/land-3.mp3
  apps/client/public/assets/audio/sfx/land-4.mp3
  apps/client/public/assets/audio/sfx/level-complete.mp3
  apps/client/public/assets/audio/sfx/menu-confirm-1.mp3
  apps/client/public/assets/audio/sfx/menu-confirm-2.mp3
  apps/client/public/assets/audio/sfx/menu-select-1.mp3
  apps/client/public/assets/audio/sfx/menu-select-2.mp3
  apps/client/public/assets/audio/sfx/menu-select-3.mp3
  apps/client/public/assets/audio/sfx/menu-select-4.mp3
  apps/client/public/assets/data/asset-manifest.json
Due: biome_fix
