Repository hubofwyn/wyn-der-schrank: changes, and which lefthook commands are due for each by the changed paths.
All: biome_fix, md_fix

biome_fix:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

md_fix:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc --fix {staged_files}
  stage_fixed: true

feat(modules): add audio-keys domain module with SFX variant picker
  apps/client/src/modules/assets/__tests__/audio-keys.test.ts
  apps/client/src/modules/assets/audio-keys.ts
Due: biome_fix

feat(client): add PhaserAudio adapter implementing IAudioPlayer port
  apps/client/src/core/adapters/__tests__/phaser-audio.test.ts
  apps/client/src/core/adapters/phaser-audio.ts
Due: biome_fix

feat(client): wire audio system into container and all scenes
  apps/client/src/main.ts
  apps/client/src/scenes/base-scene.ts
  apps/client/src/scenes/game-over-scene.ts
  apps/client/src/scenes/level-complete-scene.ts
  apps/client/src/scenes/minigame-scene.ts
  apps/client/src/scenes/pause-scene.ts
  apps/client/src/scenes/platformer-scene.ts
  apps/client/src/scenes/settings-scene.ts
  apps/client/src/scenes/title-scene.ts
Due: biome_fix

docs(plans): log Phaser audio API evidence and mark G10 complete
  docs/PHASER_EVIDENCE.md
  docs/plans/active-plan.md
Due: md_fix

docs(plans): mark G10 done, start G11 on feat/character-system
  AGENTS.md
  docs/plans/active-plan.md
Due: md_fix

feat(client): add character and world data files with manifest entries
  apps/client/public/assets/data/asset-manifest.json
  apps/client/public/assets/data/characters.json
  apps/client/public/assets/data/worlds.json
Due: biome_fix

feat(client): add CharacterCatalog module with Zod validation and tests
  apps/client/src/modules/character/__tests__/character-catalog.test.ts
  apps/client/src/modules/character/character-catalog.ts
Due: biome_fix

feat(client): add WorldCatalog module with unlock checks and tests
  apps/client/src/modules/level/__tests__/world-catalog.test.ts
  apps/client/src/modules/level/world-catalog.ts
Due: biome_fix

feat(client): add FlowController state machine with phase transitions
  apps/client/src/modules/navigation/__tests__/flow-controller.test.ts
  apps/client/src/modules/navigation/flow-controller.ts
Due: biome_fix

feat(client): wire catalogs and flow controller into container
  apps/client/src/core/container.ts
  apps/client/src/main.ts
  apps/client/src/scenes/character-select-scene.ts
  apps/client/src/scenes/level-select-scene.ts
  apps/client/src/scenes/main-menu-scene.ts
  apps/client/src/scenes/preload-scene.ts
  apps/client/src/scenes/title-scene.ts
  apps/client/src/scenes/world-select-scene.ts
Due: biome_fix

feat(client): implement CharacterSelectScene with stat bars and hover
  apps/client/src/scenes/character-select-scene.ts
Due: biome_fix

feat(client): implement MainMenuScene with world/level grid
  apps/client/src/scenes/main-menu-scene.ts
Due: biome_fix

feat(client): implement WorldSelectScene and LevelSelectScene
  apps/client/src/scenes/level-select-scene.ts
  apps/client/src/scenes/world-select-scene.ts
Due: biome_fix

feat(client): rewire navigation chain through catalogs and flow controller
  apps/client/src/scenes/game-over-scene.ts
  apps/client/src/scenes/level-complete-scene.ts
  apps/client/src/scenes/platformer-scene.ts
Due: biome_fix

docs(plans): mark G11 done, update snapshot (396 tests)
  docs/plans/active-plan.md
Due: md_fix

docs: sync all project docs with G11 completion
  AGENTS.md
  docs/PHASER_EVIDENCE.md
  docs/plans/active-plan.md
  docs/plans/game-blueprint.md
Due: md_fix

docs(plans): mark G12 in-progress on feat/coin-catch
  docs/plans/active-plan.md
Due: md_fix

feat(client): add shared minigame infrastructure + falling-objects module
  apps/client/src/main.ts
  apps/client/src/modules/minigame/__tests__/minigame-manager.test.ts
  apps/client/src/modules/minigame/__tests__/minigame-registry.test.ts
  apps/client/src/modules/minigame/games/coin-catch/__tests__/falling-objects.test.ts
  apps/client/src/modules/minigame/games/coin-catch/coin-catch-config.ts
  apps/client/src/modules/minigame/games/coin-catch/falling-objects.ts
  apps/client/src/modules/minigame/games/shake-rush/__tests__/shake-rush-logic.test.ts
  apps/client/src/modules/minigame/games/shake-rush/shake-rush-logic.ts
  apps/client/src/modules/minigame/minigame-logic.ts
  apps/client/src/modules/minigame/minigame-render-state.ts
  apps/client/src/modules/minigame/minigame-time.ts
  apps/client/src/modules/minigame/minigame-view-config.ts
Due: biome_fix

feat(client): add coin-catch scoring module with 14 tests
  apps/client/src/modules/minigame/games/coin-catch/__tests__/scoring.test.ts
  apps/client/src/modules/minigame/games/coin-catch/scoring.ts
Due: biome_fix

feat(client): add CoinCatchLogic with 25 tests
  apps/client/src/modules/minigame/games/coin-catch/__tests__/coin-catch-logic.test.ts
  apps/client/src/modules/minigame/games/coin-catch/coin-catch-logic.ts
Due: biome_fix

feat(client): refactor MinigameScene to generic renderer, wire coin-catch
  apps/client/public/assets/tilemaps/levels/forest-2.json
  apps/client/src/main.ts
  apps/client/src/scenes/minigame-scene.ts
Due: biome_fix

docs(plans): mark G12 done, update snapshot (454 tests)
  docs/plans/active-plan.md
Due: md_fix

fix(client): resolve MinigameScene refactor regressions (457 tests)
  apps/client/src/modules/minigame/games/coin-catch/__tests__/falling-objects.test.ts
  apps/client/src/modules/minigame/games/coin-catch/coin-catch-logic.ts
  apps/client/src/modules/minigame/games/coin-catch/falling-objects.ts
  apps/client/src/modules/minigame/games/shake-rush/shake-rush-config.ts
  apps/client/src/modules/minigame/games/shake-rush/shake-rush-logic.ts
  apps/client/src/modules/minigame/minigame-render-state.ts
  apps/client/src/modules/minigame/minigame-view-config.ts
  apps/client/src/scenes/minigame-scene.ts
Due: biome_fix

docs: sync project docs with G12 completion (457 tests)
  AGENTS.md
  apps/client/src/modules/minigame/games/coin-catch/__tests__/.gitkeep
  docs/plans/active-plan.md
  docs/plans/game-blueprint.md
Due: md_fix

fix(minigame): resolve ShakeRush tech debt from G12
  apps/client/src/modules/minigame/games/shake-rush/__tests__/shake-rush-logic.test.ts
  apps/client/src/modules/minigame/games/shake-rush/shake-rush-config.ts
  apps/client/src/modules/minigame/games/shake-rush/shake-rush-logic.ts
Due: biome_fix

chore: add mobile responsive foundation and sync agentic infrastructure
  .claude/agents/architect.md
  .claude/agents/security-reviewer.md
  .claude/agents/tester.md
  .claude/commands/implement-feature.md
  .claude/commands/investigate.md
  .claude/rules/scenes-thin.md
  .claude/rules/shared-schemas.md
  .claude/rules/viewport-responsive.md
  .claude/skills/add-minigame/SKILL.md
  .claude/skills/review-diff/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/plans/active-plan.md
  docs/plans/mobile-responsive-plan.md
Due: md_fix

feat(viewport): add viewport core — schema, math, port, adapter, wiring
  apps/client/src/core/adapters/phaser-input.ts
  apps/client/src/core/adapters/phaser-viewport.ts
  apps/client/src/core/container.ts
  apps/client/src/core/ports/viewport.ts
  apps/client/src/main.ts
  apps/client/src/modules/__test-utils__/mocks.ts
  apps/client/src/modules/viewport/__tests__/viewport-math.test.ts
  apps/client/src/modules/viewport/viewport-math.ts
  packages/shared/src/index.ts
  packages/shared/src/schema/settings.ts
  packages/shared/src/types/index.ts
Due: biome_fix

feat(input): add touch input adapter, adaptive input, and HTML hardening
  apps/client/index.html
  apps/client/src/core/adapters/__tests__/adaptive-input.test.ts
  apps/client/src/core/adapters/__tests__/touch-input.test.ts
  apps/client/src/core/adapters/adaptive-input.ts
  apps/client/src/core/adapters/touch-input.ts
  apps/client/src/scenes/minigame-scene.ts
  apps/client/src/scenes/platformer-scene.ts
Due: biome_fix

docs: add mobile goals plan and sync all documentation post-PR#21
  .claude/commands/implement-feature.md
  .claude/rules/scenes-thin.md
  .claude/rules/viewport-responsive.md
  .claude/skills/add-module/SKILL.md
  AGENTS.md
  CLAUDE.md
  docs/FOUNDATION.md
  docs/PHASER_EVIDENCE.md
  docs/plans/active-plan.md
  docs/plans/agentic-setup.md
  docs/plans/game-blueprint.md
  docs/plans/lint-format-hooks.md
  docs/plans/mobile-goals.md
  docs/plans/mobile-responsive-plan.md
  docs/plans/mobile-ui-ux-research.md
  docs/plans/telemetry.md
Due: md_fix

feat(client): migrate all scenes to safe-zone anchoring (564 tests)
  .claude/commands/implement-feature.md
  .claude/rules/scenes-thin.md
  .claude/rules/viewport-responsive.md
  AGENTS.md
  CLAUDE.md
  apps/client/src/modules/ui/__tests__/scene-layout.test.ts
  apps/client/src/modules/ui/scene-layout.ts
  apps/client/src/scenes/character-select-scene.ts
  apps/client/src/scenes/game-over-scene.ts
  apps/client/src/scenes/hud-scene.ts
  apps/client/src/scenes/level-complete-scene.ts
  apps/client/src/scenes/level-select-scene.ts
  apps/client/src/scenes/main-menu-scene.ts
  apps/client/src/scenes/minigame-hud-scene.ts
  apps/client/src/scenes/minigame-scene.ts
  apps/client/src/scenes/pause-scene.ts
  apps/client/src/scenes/preload-scene.ts
  apps/client/src/scenes/settings-scene.ts
  apps/client/src/scenes/title-scene.ts
  apps/client/src/scenes/world-select-scene.ts
  docs/FOUNDATION.md
  docs/plans/active-plan.md
  docs/plans/mobile-goals.md
Due: biome_fix, md_fix

feat(ui): add hit-area expansion and scaleFontSize integration (G13 complete)
  apps/client/src/modules/ui/__tests__/scene-layout.test.ts
  apps/client/src/modules/ui/design-tokens.ts
  apps/client/src/modules/ui/scene-layout.ts
  apps/client/src/scenes/base-scene.ts
  apps/client/src/scenes/character-select-scene.ts
  apps/client/src/scenes/game-over-scene.ts
  apps/client/src/scenes/hud-scene.ts
  apps/client/src/scenes/level-complete-scene.ts
  apps/client/src/scenes/level-select-scene.ts
  apps/client/src/scenes/main-menu-scene.ts
  apps/client/src/scenes/minigame-hud-scene.ts
  apps/client/src/scenes/minigame-scene.ts
  apps/client/src/scenes/pause-scene.ts
  apps/client/src/scenes/preload-scene.ts
  apps/client/src/scenes/settings-scene.ts
  apps/client/src/scenes/title-scene.ts
  apps/client/src/scenes/world-select-scene.ts
  docs/plans/active-plan.md
  docs/plans/mobile-goals.md
Due: biome_fix, md_fix

docs: sync all information flows with G13 completion
  .claude/commands/implement-feature.md
  .claude/rules/scenes-thin.md
  .claude/rules/viewport-responsive.md
  AGENTS.md
  CLAUDE.md
  docs/FOUNDATION.md
  docs/PHASER_EVIDENCE.md
Due: md_fix

feat(viewport): add resize pipeline with debounce and scene re-layout (G14)
  apps/client/index.html
  apps/client/src/core/adapters/phaser-viewport.ts
  apps/client/src/main.ts
  apps/client/src/modules/viewport/__tests__/debounce.test.ts
  apps/client/src/modules/viewport/debounce.ts
  apps/client/src/scenes/base-scene.ts
  apps/client/src/scenes/character-select-scene.ts
  apps/client/src/scenes/game-over-scene.ts
  apps/client/src/scenes/hud-scene.ts
  apps/client/src/scenes/level-complete-scene.ts
  apps/client/src/scenes/level-select-scene.ts
  apps/client/src/scenes/main-menu-scene.ts
  apps/client/src/scenes/minigame-hud-scene.ts
  apps/client/src/scenes/pause-scene.ts
  apps/client/src/scenes/settings-scene.ts
  apps/client/src/scenes/title-scene.ts
  apps/client/src/scenes/world-select-scene.ts
  docs/plans/active-plan.md
  docs/plans/mobile-goals.md
Due: biome_fix, md_fix

feat(session): add PWA shell, wake lock, and visibility handler (G15)
  apps/client/index.html
  apps/client/package.json
  apps/client/public/assets/icons/icon-192.png
  apps/client/public/assets/icons/icon-512.png
  apps/client/src/core/adapters/noop-wake-lock.ts
  apps/client/src/core/adapters/wake-lock-adapter.ts
  apps/client/src/core/container.ts
  apps/client/src/core/ports/wake-lock.ts
  apps/client/src/main.ts
  apps/client/src/modules/session/__tests__/visibility-handler.test.ts
  apps/client/src/modules/session/__tests__/wake-lock-manager.test.ts
  apps/client/src/modules/session/visibility-handler.ts
  apps/client/src/modules/session/wake-lock-manager.ts
  apps/client/vite.config.ts
  bun.lock
Due: biome_fix

fix(config): migrate vitest to test.projects and correct all doc counts
  .claude/agents/tester.md
  AGENTS.md
  docs/FOUNDATION.md
  docs/plans/active-plan.md
  docs/plans/lint-format-hooks.md
  docs/plans/mobile-goals.md
  package.json
  vitest.config.ts
Due: biome_fix, md_fix

chore: remove stale audit docs and deprecated vitest.workspace.ts
  docs/audit/2026-02-10-architectural-audit.md
  docs/audit/audit-plan-02102026.md
  vitest.workspace.ts
Due: biome_fix, md_fix

Path conditions:
  biome_fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  md_fix: any of: **/*.md
