Repository hubofwyn/wyn-der-schrank: changes, and which lefthook commands are due for each by the changed paths.
All: biome_fix, md_fix

lefthook.yml:

# lefthook.yml â€” Git hook orchestration
# Mirrors CI gates locally. See .github/workflows/ci.yml for the canonical gate list.

pre-commit:
  parallel: true
  commands:
    biome_fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: >-
        bunx @biomejs/biome check --write
        --no-errors-on-unmatched
        --files-ignore-unknown=true
        --colors=off
        {staged_files}
      stage_fixed: true

    md_fix:
      glob: "**/*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc --fix {staged_files}
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    banner:
      run: bash scripts/pre-push-banner.sh
    typecheck:
      run: bun run typecheck
    lint_zones:
      run: bun run lint:zones
    deps_check:
      run: bun run deps:check
    tests:
      run: bun run test:run
    format_check:
      run: bun run format:check
    md_lint:
      run: bun run lint:md

ci: replace deprecated deny-licenses with allow-licenses
  .github/workflows/dependency-review.yml
Due: none

feat(core): add no-op adapter stubs for audio, network, storage
  apps/client/src/core/adapters/noop-audio.ts
  apps/client/src/core/adapters/noop-network.ts
  apps/client/src/core/adapters/noop-storage.ts
Due: biome_fix

feat(level): add hardcoded First Steps level geometry
  apps/client/src/modules/level/level-data.ts
Due: biome_fix

feat(scenes): add Phaser game init, boot scene, and platformer stub
  apps/client/src/main.ts
  apps/client/src/scenes/boot-scene.ts
  apps/client/src/scenes/platformer-scene.ts
Due: biome_fix

feat(scenes): wire PlatformerScene with player movement and platforms
  apps/client/src/scenes/platformer-scene.ts
Due: biome_fix

docs: update Phaser evidence log and active plan for MVP milestone
  docs/PHASER_EVIDENCE.md
  docs/plans/active-plan.md
Due: md_fix

docs: backfill missing Phaser evidence entries, fix AGENTS.md gaps
  AGENTS.md
  docs/PHASER_EVIDENCE.md
Due: md_fix

docs(plans): replace phase checklist with goal-based roadmap system
  .claude/commands/implement-feature.md
  .claude/commands/investigate.md
  AGENTS.md
  CLAUDE.md
  docs/plans/active-plan.md
Due: md_fix

feat(scenes): add BaseScene with typed container access
  apps/client/src/scenes/base-scene.ts
Due: biome_fix

feat(client): wire DI container in main.ts, convert scenes to BaseScene
  apps/client/src/main.ts
  apps/client/src/scenes/boot-scene.ts
  apps/client/src/scenes/platformer-scene.ts
Due: biome_fix

feat(camera): add CameraController with lerp smoothing and bounds clamping
  apps/client/src/modules/camera/__tests__/camera-controller.test.ts
  apps/client/src/modules/camera/camera-controller.ts
Due: biome_fix

feat(scenes): add PreloadScene with asset manifest and full scene chain
  apps/client/public/assets/data/asset-manifest.json
  apps/client/src/main.ts
  apps/client/src/scenes/boot-scene.ts
  apps/client/src/scenes/preload-scene.ts
  docs/PHASER_EVIDENCE.md
  docs/plans/active-plan.md
Due: biome_fix, md_fix

docs: add missing scene.add.rectangle() to Phaser evidence log
  docs/PHASER_EVIDENCE.md
Due: md_fix

docs(plans): mark G1 done, promote G2/G3/G4 to ready, start G2
  docs/plans/active-plan.md
Due: md_fix

refactor: fix architectural violations from G1 review
  .claude/commands/implement-feature.md
  AGENTS.md
  apps/client/src/core/adapters/noop-input.ts
  apps/client/src/core/adapters/noop-physics.ts
  apps/client/src/core/container.ts
  apps/client/src/core/ports/engine.ts
  apps/client/src/main.ts
  apps/client/src/modules/__test-utils__/mocks.ts
  apps/client/src/modules/assets/__tests__/manifest-parser.test.ts
  apps/client/src/modules/assets/manifest-parser.ts
  apps/client/src/scenes/platformer-scene.ts
  apps/client/src/scenes/preload-scene.ts
  docs/plans/active-plan.md
Due: biome_fix, md_fix

docs(plans): refine G2-G5 deliverables with scoping and cross-references
  docs/plans/active-plan.md
Due: md_fix

feat(client): replace player rectangle with sprite
  apps/client/public/assets/data/asset-manifest.json
  apps/client/public/assets/sprites/characters/player.png
  apps/client/src/scenes/platformer-scene.ts
  apps/client/src/scenes/preload-scene.ts
  docs/PHASER_EVIDENCE.md
Due: biome_fix, md_fix

feat(client): add player animation state machine
  apps/client/src/modules/player/__tests__/animation-config.test.ts
  apps/client/src/modules/player/animation-config.ts
  apps/client/src/scenes/platformer-scene.ts
  apps/client/src/scenes/preload-scene.ts
  docs/PHASER_EVIDENCE.md
Due: biome_fix, md_fix

docs(plans): check off G2 deliverables 1-2
  docs/plans/active-plan.md
Due: md_fix

feat(client): replace colored-rect platforms with Tiled tilemap
  apps/client/public/assets/data/asset-manifest.json
  apps/client/public/assets/tilemaps/levels/forest-1.json
  apps/client/public/assets/tilemaps/tilesets/dungeon-tileset.png
  apps/client/src/scenes/platformer-scene.ts
  docs/PHASER_EVIDENCE.md
Due: biome_fix, md_fix

feat(client): add enemy skeleton sprites with idle animation
  apps/client/public/assets/data/asset-manifest.json
  apps/client/public/assets/sprites/enemies/skeleton-idle.png
  apps/client/public/assets/sprites/enemies/skeleton-walk.png
  apps/client/public/assets/tilemaps/levels/forest-1.json
  apps/client/src/modules/enemy/__tests__/animation-config.test.ts
  apps/client/src/modules/enemy/animation-config.ts
  apps/client/src/scenes/platformer-scene.ts
  apps/client/src/scenes/preload-scene.ts
Due: biome_fix

feat(client): add collectible coin sprites with spin animation
  apps/client/public/assets/data/asset-manifest.json
  apps/client/public/assets/sprites/items/coin.png
  apps/client/public/assets/tilemaps/levels/forest-1.json
  apps/client/src/modules/collectible/__tests__/animation-config.test.ts
  apps/client/src/modules/collectible/animation-config.ts
  apps/client/src/scenes/platformer-scene.ts
  apps/client/src/scenes/preload-scene.ts
Due: biome_fix

docs(plans): mark G2 Visual Identity complete (73 tests)
  docs/plans/active-plan.md
Due: md_fix

refactor(client): centralize animation def
  apps/client/src/modules/animation/animation-def.ts
  apps/client/src/modules/collectible/animation-config.ts
  apps/client/src/modules/enemy/animation-config.ts
  apps/client/src/modules/player/animation-config.ts
  apps/client/src/scenes/preload-scene.ts
Due: biome_fix

refactor(client): extract tilemap object parsing
  apps/client/src/modules/level/__tests__/tilemap-objects.test.ts
  apps/client/src/modules/level/level-data.ts
  apps/client/src/modules/level/tilemap-objects.ts
  apps/client/src/scenes/platformer-scene.ts
Due: biome_fix

fix(client): remove duplicate preload progress handler
  apps/client/src/scenes/preload-scene.ts
Due: biome_fix

docs: add governance rules
  AGENTS.md
Due: none

chore: update plan test count, add animation tests dir
  apps/client/src/modules/animation/__tests__/.gitkeep
  docs/plans/active-plan.md
Due: md_fix

docs: start G3 Gameplay Loop, update repository map
  AGENTS.md
  docs/plans/active-plan.md
Due: md_fix

feat(client): add score tracker module with star rating
  apps/client/src/modules/scoring/__tests__/score-tracker.test.ts
  apps/client/src/modules/scoring/score-tracker.ts
Due: biome_fix

feat(client): add collectible manager with pickup tracking
  apps/client/src/modules/collectible/__tests__/collectible-manager.test.ts
  apps/client/src/modules/collectible/collectible-manager.ts
Due: biome_fix

feat(client): add gameplay state interface and exit extraction
  apps/client/src/modules/game-state/__tests__/gameplay-state.test.ts
  apps/client/src/modules/game-state/gameplay-state.ts
  apps/client/src/modules/level/__tests__/tilemap-objects.test.ts
  apps/client/src/modules/level/tilemap-objects.ts
Due: biome_fix

feat(client): wire collectible pickup, scoring, and exit trigger
  apps/client/src/scenes/platformer-scene.ts
  docs/PHASER_EVIDENCE.md
Due: biome_fix, md_fix

feat(client): add HUD scene with health, score, and coins display
  apps/client/src/main.ts
  apps/client/src/scenes/hud-scene.ts
  docs/PHASER_EVIDENCE.md
Due: biome_fix, md_fix

feat(client): add level-complete scene with score display and navigation
  apps/client/src/main.ts
  apps/client/src/scenes/level-complete-scene.ts
  docs/PHASER_EVIDENCE.md
Due: biome_fix, md_fix

feat(client): add forest world with 2 levels and exit triggers
  apps/client/public/assets/data/asset-manifest.json
  apps/client/public/assets/tilemaps/levels/forest-2.json
  scripts/generate-forest-2.mjs
Due: biome_fix

docs: mark G3 Gameplay Loop complete (110 tests)
  docs/plans/active-plan.md
Due: md_fix

fix(client): address review findings from G3 implementation
  apps/client/src/modules/collectible/__tests__/collectible-manager.test.ts
  apps/client/src/modules/collectible/collectible-manager.ts
  apps/client/src/scenes/level-complete-scene.ts
  apps/client/src/scenes/platformer-scene.ts
  scripts/generate-forest-2.mjs
Due: biome_fix

docs: add generate-forest-2.mjs to AGENTS.md repository map
  AGENTS.md
Due: none

docs: mark G4 Hazards in-progress on feat/enemy-ai
  docs/plans/active-plan.md
Due: md_fix
