Repository hubofwyn/wyn-der-schrank: changes, and which lefthook commands are due for each by the changed paths.
All: biome_fix, md_fix

biome_fix:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

md_fix:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc --fix {staged_files}
  stage_fixed: true

feat(enemy): add patrol behavior, entity, and manager modules
  apps/client/src/modules/enemy/__tests__/enemy-entity.test.ts
  apps/client/src/modules/enemy/__tests__/enemy-manager.test.ts
  apps/client/src/modules/enemy/behaviors/.gitkeep
  apps/client/src/modules/enemy/behaviors/__tests__/patrol-behavior.test.ts
  apps/client/src/modules/enemy/behaviors/patrol-behavior.ts
  apps/client/src/modules/enemy/enemy-entity.ts
  apps/client/src/modules/enemy/enemy-manager.ts
Due: biome_fix

feat(player): add invincibility, DamageResult, hurt state, and respawn
  apps/client/src/modules/player/__tests__/player-controller.test.ts
  apps/client/src/modules/player/player-controller.ts
Due: biome_fix

feat(game-state): add lives field to GameplayState and HUD
  apps/client/src/modules/game-state/__tests__/gameplay-state.test.ts
  apps/client/src/modules/game-state/gameplay-state.ts
  apps/client/src/scenes/hud-scene.ts
  apps/client/src/scenes/platformer-scene.ts
Due: biome_fix

feat(client): wire enemy physics, patrol AI, and collision
  apps/client/src/modules/level/__tests__/tilemap-objects.test.ts
  apps/client/src/modules/level/tilemap-objects.ts
  apps/client/src/scenes/platformer-scene.ts
  docs/PHASER_EVIDENCE.md
Due: biome_fix, md_fix

feat(client): add death/respawn system and game-over scene
  apps/client/src/main.ts
  apps/client/src/scenes/game-over-scene.ts
  apps/client/src/scenes/platformer-scene.ts
Due: biome_fix

docs: mark G4 Hazards complete (147 tests)
  docs/plans/active-plan.md
Due: md_fix

fix(client): address review findings from G4 implementation
  apps/client/src/scenes/platformer-scene.ts
  docs/PHASER_EVIDENCE.md
  docs/plans/active-plan.md
Due: biome_fix, md_fix

docs: update G4 branch to merged after PR #7
  docs/plans/active-plan.md
Due: md_fix

feat(client): add design tokens module for consistent UI styling
  apps/client/src/modules/ui/__tests__/design-tokens.test.ts
  apps/client/src/modules/ui/design-tokens.ts
  docs/plans/active-plan.md
Due: biome_fix, md_fix

feat(client): add settings infrastructure with localStorage persistence
  apps/client/src/core/adapters/__tests__/local-storage-adapter.test.ts
  apps/client/src/core/adapters/local-storage-adapter.ts
  apps/client/src/core/container.ts
  apps/client/src/core/ports/settings.ts
  apps/client/src/main.ts
  apps/client/src/modules/settings/__tests__/settings-manager.test.ts
  apps/client/src/modules/settings/settings-manager.ts
Due: biome_fix

feat(client): add TitleScene, boot chain redirect, and BaseScene helpers
  apps/client/src/main.ts
  apps/client/src/scenes/base-scene.ts
  apps/client/src/scenes/preload-scene.ts
  apps/client/src/scenes/title-scene.ts
  docs/PHASER_EVIDENCE.md
  docs/plans/game-blueprint.md
Due: biome_fix, md_fix

feat(client): add PauseScene with overlay and pause detection
  apps/client/src/main.ts
  apps/client/src/scenes/pause-scene.ts
  apps/client/src/scenes/platformer-scene.ts
Due: biome_fix

feat(client): add SettingsScene with toggle-based UI
  apps/client/src/main.ts
  apps/client/src/scenes/settings-scene.ts
Due: biome_fix

feat(client): add Menu button to GameOverScene and LevelCompleteScene
  apps/client/src/scenes/game-over-scene.ts
  apps/client/src/scenes/level-complete-scene.ts
Due: biome_fix

docs: mark G5 Menu and Flow complete (164 tests)
  docs/plans/active-plan.md
Due: md_fix

fix(client): address review findings from G5 implementation
  apps/client/src/scenes/pause-scene.ts
  docs/PHASER_EVIDENCE.md
Due: biome_fix, md_fix

docs: update agentic dev references for G5 accuracy
  AGENTS.md
  CLAUDE.md
  docs/FOUNDATION.md
Due: md_fix

docs: update G5 branch to merged, add .claude/plans/ to gitignore
  .gitignore
  docs/plans/active-plan.md
Due: md_fix

fix: repair agentic telemetry hooks
  .claude/hooks/session-end-report.sh
  .claude/hooks/session-summary.sh
  .claude/hooks/telemetry-log.sh
  .claude/settings.json
  docs/plans/telemetry.md
Due: biome_fix, md_fix

docs: add game runtime diagnostics design document
  AGENTS.md
  docs/plans/diagnostics.md
Due: md_fix

fix: hooks emit telemetry inline, add log rotation
  .claude/hooks/phaser-version-guard.sh
  .claude/hooks/session-end-report.sh
  .claude/hooks/telemetry-log.sh
  .claude/hooks/zone-lint-on-edit.sh
Due: none

docs: rewrite diagnostics.md addressing all design concerns
  docs/plans/diagnostics.md
  docs/plans/telemetry.md
Due: md_fix

feat(shared): add diagnostics schema with Zod-first channel types
  packages/shared/src/index.ts
  packages/shared/src/schema/diagnostics.ts
  packages/shared/src/types/index.ts
Due: biome_fix

feat(client): add IDiagnostics port and NoopDiagnostics adapter
  apps/client/src/core/adapters/noop-diagnostics.ts
  apps/client/src/core/ports/diagnostics.ts
Due: biome_fix

feat(shared): extend settings schema with diagnostics section
  apps/client/src/core/adapters/phaser-input.ts
  apps/client/src/modules/settings/settings-manager.ts
  packages/shared/src/schema/settings.ts
Due: biome_fix

feat(client): add ConsoleDiagnostics adapter with ring buffer and tests
  apps/client/src/core/adapters/__tests__/console-diagnostics.test.ts
  apps/client/src/core/adapters/console-diagnostics.ts
Due: biome_fix

feat(client): wire ConsoleDiagnostics into container and composition root
  apps/client/src/core/container.ts
  apps/client/src/main.ts
Due: biome_fix

feat(client): integrate diagnostics into PlayerController and CameraController
  apps/client/src/modules/camera/__tests__/camera-controller.test.ts
  apps/client/src/modules/camera/camera-controller.ts
  apps/client/src/modules/player/__tests__/player-controller.test.ts
  apps/client/src/modules/player/player-controller.ts
Due: biome_fix

feat(client): add diagnostics to scenes and enemy entity
  apps/client/src/modules/enemy/enemy-entity.ts
  apps/client/src/scenes/platformer-scene.ts
  apps/client/src/scenes/preload-scene.ts
Due: biome_fix

docs: add IDiagnostics to port listing and update references
  AGENTS.md
  docs/FOUNDATION.md
  docs/plans/diagnostics.md
Due: md_fix

fix(client): wire enemy diagnostics end-to-end and use settings ringBufferSize
  apps/client/src/main.ts
  apps/client/src/modules/enemy/__tests__/enemy-entity.test.ts
  apps/client/src/modules/enemy/__tests__/enemy-manager.test.ts
  apps/client/src/modules/enemy/enemy-manager.ts
  apps/client/src/scenes/platformer-scene.ts
  docs/plans/diagnostics.md
Due: biome_fix, md_fix

docs: add studio asset interface shared contract
  docs/plans/studio-asset-interface.md
Due: md_fix

docs: add bun link development workflow to studio interface contract
  docs/plans/studio-asset-interface.md
Due: md_fix

docs: add bun package management conventions to studio interface contract
  docs/plans/studio-asset-interface.md
Due: md_fix

docs: add G6 goal and resolve interface contract decisions
  docs/plans/active-plan.md
  docs/plans/studio-asset-interface.md
Due: md_fix

docs: update reference hierarchy and repo map for completeness
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

docs: mark G6 in-progress on feat/shared-publishing
  docs/plans/active-plan.md
Due: md_fix

feat(shared): add SpritesheetMeta, AudioMeta, TilemapMeta schemas
  packages/shared/src/index.ts
  packages/shared/src/schema/assets.ts
  packages/shared/src/types/index.ts
Due: biome_fix

feat(shared): prepare package.json for npm publishing
  bun.lock
  packages/shared/package.json
Due: biome_fix

docs(shared): record export self-containment verification results
  docs/plans/studio-asset-interface.md
Due: md_fix

Path conditions:
  biome_fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  md_fix: any of: **/*.md
